@model IEnumerable<Client.Models.RequestClaim>

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Request Claim Items";
}

<!-- Modal -->
<div class="modal fade" id="base-modal" tabindex="-1" aria-labelledby="baseModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="baseModal"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <form id="form-update_status" class="forms-sample" asp-controller="Admin" asp-action="">
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <input type="text" class="form-control" id="message" name="message" placeholder="Ok">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="requestId" name="requestId" hidden>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
  </div>
</div>

<article class="container">
    <div class="row justify-content-end mb-4">
        <div class="col-3">
            <select id="select-status" class="form-select float-end" name="status">
                <option value=""></option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
                <option value="approved">Approved</option>
            </select>
        </div>
    </div>
    <div class="row g-6 g-lg-4 row-cols-1 row-cols-md-3 row-cols-lg-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <div class="card grid-margin bg-gradient-primary text-dark">
                    <div class="card-header">
                        <div class="card-title">
                            <h4>@i.RequestItem.Name</h4>
                        </div>
                    </div>
                    <div class="position-relative">
                        <img class="card-img-top" src="@i.RequestItem.ImagePath" alt="" style="height: 250px">
                        @if (i.Status.Equals("Pending"))
                        {
                            <div class="position-absolute d-flex gap-1" style="lef: 0; right: 0; bottom: 0;">
                                <button onclick="showModal(`Approve`, `@i.RequestId`)" id="btn-approve" type="button" class="btn btn-success p-1" data-bs-toggle="modal" data-bs-target="#base-modal">
                                Approve
                                </button>
                                <button onclick="showModal(`Reject`, `@i.RequestId`)" id="btn-reject" type="button" class="btn btn-danger p-1" data-bs-toggle="modal" data-bs-target="#base-modal">
                                Reject
                                </button>
                            </div>
                        }
                    </div>
                    <div class="card-body p-2">
                        <h3>@i.Status</h3>
                        <p class="card-subtitle text-truncate text-dark">
                            @i.RequestItem.Description
                        </p>
                        <smaall class="small">
                            Request By @i.RequestBy.FullName<br>@@@i.RequestAt.ToLocalTime()
                        </smaall>
                    </div>
                </div>
            </div>
        }
    </div>
</article>

@section Scripts
{
    <script>
    const queryStatus = new URLSearchParams(window.location.search).get('status');
    
    $("select#select-status option[value='"+queryStatus+"']").attr("selected", "selected")
    
    $('select#select-status').on('change', function (e) {
        var url = window.location.href.split('?')[0];
        
        if (this.value) {
            url += `?status=${this.value}`;
        }
        
        window.location = url;
    });
    
    function showModal(status, id) {
        switch (status) {
            case "Approve":
                $('form#form-update_status').attr('action', 'RequestClaim/Approve')
                $('form#form-update_status input#requestId').val(id)
                break;
            case "Reject":
                $('form#form-update_status').attr('action', 'RequestClaim/Reject')
                $('form#form-update_status input#requestId').val(id)
        }
    }
    </script>
}