@model IEnumerable<Client.Models.RequestClaimItem>

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Request Claim Items";
}

<div class="modal fade" id="modal-confirm" tabindex="-1" aria-labelledby="modalConfirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span></span> Confirm Claimed Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-confirm_claimed" method="post" asp-controller="Admin" asp-action="ProcessConfirmClaimed">
                <div class="modal-body">
                    <input hidden type="text" name="requestId">
                    <h4>This Item Has Been Claimed ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="base-modal" tabindex="-1" aria-labelledby="baseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span></span> Request Claim Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-update_status" method="post" class="forms-sample" asp-controller="Admin" asp-action="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <input type="text" class="form-control" id="message" name="message" placeholder="Ok">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="requestId" name="requestId" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<article class="container">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-clock-in"></i>
            </span> Request Claim Items
        </h3>
    </div>
    <div class="row justify-content-end mb-4">
        <div class="col-6 col-lg-3">
            <select id="select-status" class="form-select float-end" name="status">
                <option value="">-</option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
                <option value="approved">Approved</option>
            </select>
        </div>
    </div>
    <div class="row g-6 g-lg-4 row-cols-1 row-cols-lg-3">
        @foreach (var i in Model)
        {
            <div class="col">
                <div class="card position-relative">
                    @switch (i.Status)
                    {
                        case "Approved":
                            <label class="badge badge-success position-absolute top-0 end-0">Approved</label>
                            break;
                        case "Rejected":
                            <label class="badge badge-danger position-absolute top-0 end-0">Rejected</label>
                            break;
                        case "Pending":
                            <label class="badge badge-warning position-absolute top-0 end-0">Pending</label>
                            break;
                    }
                    <img class="card-img-top" src="@i.RequestItem.ImagePath" alt="" style="height: 250px">
                    <div class="card-body position-relative">
                        @if (i.Status.Equals("Pending"))
                        {
                            <div class="request-action-wrapper">
                                <button onclick="showModal(`Approve`, `@i.RequestId`)" data-bs-toggle="modal" data-bs-target="#base-modal" class="btn btn-success btn-rounded">
                                    <i class="mdi mdi-check"></i>
                                </button>
                                <button onclick="showModal(`Reject`, `@i.RequestId`)" data-bs-toggle="modal" data-bs-target="#base-modal" class="btn btn-danger btn-rounded">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </div>
                        }
                        <div class="d-flex flex-column justify-content-between mb-4">
                            <h4 class="text-truncate m-0 p-0">@i.RequestItem.Name</h4>
                            <small class="p-0 m-0 opacity-75">@i.RequestItem.Description</small>
                        </div>
                        @if (i.Status.Equals("Approved"))
                        {
                            <button onclick="showModalConfirm('@i.RequestId')" class="btn btn-primary w-100 btn-md align-self-end" data-bs-toggle="modal" data-bs-target="#modal-confirm">Confirm Item Claimed</button>
                        }
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@i.RequestId" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Detail
                                    </button>
                                </h2>
                                <div id="@i.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div>
                                            <h4>Requested</h4>
                                            <p>By <span class="text-decoration-underline">@i.RequestBy.FullName</span></p>
                                            <p>@@ <span class="text-decoration-underline">@i.RequestAt.ToString("dd-MM-yyy h:mm tt")</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</article>

@section Scripts
{
    <script>
    const queryStatus = new URLSearchParams(window.location.search).get('status');
    
    $("select#select-status option[value='"+queryStatus+"']").attr("selected", "selected")
    
    $('select#select-status').on('change', function (e) {
        var url = window.location.href.split('?')[0];
        
        if (this.value) {
            url += `?status=${this.value}`;
        }
        
        window.location = url;
    });
    
    function showModal(status, id) {
        $('form#form-update_status').attr('action', `RequestClaim/${status}`)
        $('form#form-update_status input#requestId').val(id)
        $('#base-modal .modal-header .modal-title span').text(status)
    }
    
    function showModalConfirm(requestId) {
        console.log(requestId);
        $('form#form-confirm_claimed input[name=requestId]').val(requestId);
    }
    </script>
}